.singsong-popup {
    background: #1A1A1A !important;
    border-radius: 20px;
    color: #fff;
  }
  
  .singsong-title {
    color: white;
    font-weight: bold;
  }
  
  .singsong-input {
    background-color: #333 !important;
    color: white !important;
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    padding: 10px !important;
    border: 2px solid #D59039 !important;
  }

  .singsong-input:focus {
    border: 2px solid #F7C26B !important; /* צבע גבול כשממוקד */
    outline: none; /* מונע את קו המתאר שמופיע לפעמים */
  }
  
  .singsong-confirm {
    background-color: #D59039 !important;
    color: white !important;
    /* border-radius: 30px !important; */
    padding: 10px 20px !important;
    margin-left: 20px !important;
  }
  
  .singsong-cancel {
    background-color: #F7C26B !important;
    color: white !important;
    /* border-radius: 30px !important; */
    padding: 10px 20px !important;
  }