.comment-input {
    /* width: 700px; */
    background-color: #2b2b2b;
    border-radius: 10px;
    color: #f1f1f1;
    /* font-size: 18px; */
    padding-right: 0px !important;
    min-height: 46px;
  }
  
  .comment-input .MuiOutlinedInput-root {
    color: #f1f1f1;
    /* font-size: 18px; */
  }
  
  .comment-input input {
    color: #f1f1f1;
    padding: 0px 0 !important;
  }
  
  .comment-input .MuiOutlinedInput-root .Mui-focused fieldset {
    border-color: #666;
  }
  
  .comment-input fieldset {
    border-color: #444;
  }
  
  .comment-input:hover fieldset {
    border-color: #666;
  }
  
  .send-icon {
    color: transparent;
    background: transparent;
  }
  
  .send-icon:hover {
    opacity: 0.8;
  }
  
  .send-icon .MuiSvgIcon-root {
    fill: url(#gradient);
  }
  