.song-comments-container {
    padding: 30px;
    min-height: 100vh;
    margin-top: 60px;
  }
  
  .song-card {
    background-color: #181818 !important;
    color: #E0E0E0;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .song-card-top {
    display: flex;
    justify-content: space-between;
  }
  
  .song-avatar {
    width: 180px !important;
    height: 180px !important;
    margin: 10px 15px 10px 30px;
  }
  
  .song-info {
    text-align: right;
    flex: 1 !important;
    margin-top: 7px !important;
  }
  
  .song-title {
    font-weight: bold !important;
    background: linear-gradient(90deg, #D59039, #F7C26B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  .song-artist {
    color: gray;
  }
  
  .song-genre {
    color: #B0B0B0;
    font-style: italic;
  }
  
  .rating-box {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 10px;
  }
  
  .stars {
    display: flex;
    direction: rtl;
    gap: 5px;
  }
  
  .star {
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    color: #B0B0B0;
    transition: all 0.3s ease;
  }
  
  .full-star {
    background: linear-gradient(90deg, #D59039, #F7C26B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  .average-rating {
    margin-right: 10px !important;
    margin-top: 5px !important;
    background: linear-gradient(90deg, #D59039, #F7C26B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  .top-left-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 7px;
  }
  
  .bottom-left-add-comment {
    display: inline-block;
    padding: 2px;
    border-radius: 30px;
    background: linear-gradient(90deg, #D59039, #F7C26B);
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .add-comment-button {
    background: #181818 !important;
    color: #FFFFFF !important;
    border-radius: 25px !important;
    padding: 8px 16px !important;
    font-size: 14px !important;
    text-transform: none !important;
  }
  
  .add-comment-button:hover {
    background: #1E1E1E !important;
  }
  